@import "../form-inline.css";
@import "../filters.css";
	
*{font-family:Arial, sans-serif}
#bad_version { background:url('bad_version.png') repeat-x; border-bottom:#000 1px solid; padding-top:15px; height:55px; z-index:999; text-align:center; color:#fff; font-size:17px; text-shadow:#000 1px 1px 3px; border-bottom:#000 1px solid; }
#bad_version a { display:inline-block; vertical-align:middle; margin-right:5px; }
a{text-decoration:none;color:#3c9cdf}
a:hover{text-decoration:underline}
a img{border:0px}
html{background:#edeee9}
body{margin:0;background:#fff;padding-top:10px; font-size: 13px}
#order .centered, #userpanel{width:960px;margin:0 auto; font-size: 13px; }
#order .centered {padding: 0 10px;}
#order .clear{clear:both}
.mid {vertical-align: middle}
.intro-description {display:none}
	
div.left {float:left}
div.right {float:right}
	
p.sep {
	font-size: 1px;
	height: 2px;
}

.article-body p {
	padding: 0 2px;
}
	
li, ul {padding: 0; margin: 0;}

#userpanel {
	position: relative;
	height: 60px;
}
#userpanel > .left {
	left: 0;
	width: 300px;
	position: absolute;
	text-align: left;
}
	
#userpanel > .right {
	margin-top: -13px;
	right: 0;
	width: 320px;
	position: absolute;
	text-align: right;

	/*background:#FAFAFA url(bg_top_bar.gif)  repeat-x 0 -39px;*/
	display:block;
	font-size:13px;
	color:#A2A2A2;
	padding:11px;
	float:left;
	/*border:1px solid #D9D9D9;*/
	border-top: none;
	border-radius:3px;
	-moz-border-radius:3px;
	text-shadow: rgba(255,255,255,0.4) 1px 1px;
	margin-left:13px;
}

#userpanel strong {
	color:#404040;
}

h1 {
	font-size: 28px;
	padding: 0 10px;
	padding-top: 0;
	color:#404040;
	font-family: 'trebuchet ms';
}

#domain-for-sale { 
	text-align: center;
}

#order  h3{text-align:center;font-size:18px;font-family: Arial, sans-serif;font-weight:normal}
#order .step-n h3{text-align:left;margin-bottom:0.5em}
#order h3 span.red{color:#ea2b2b}
#order .top-bar{background:#FAFAFA url(bg_top_bar.gif) repeat-x left top;color:#424343;font-size:16px;margin-top:20px;padding:10px;display:block;border:1px solid #d9d9d9;border-radius:3px;-moz-border-radius:3px;}
#order .top-bar .f-left{float:left;width: 570px;padding-left: 5px; padding-top: 2px;}
#order .top-bar .f-left a{line-height:40px;padding:0 10px;font-weight:bold;color:black}
#order .top-bar .f-left a.logo{line-height:normal; padding: 0}
#order .top-bar .f-left strong {font-size: 19px; font-weight: normal;}
#order .top-bar .f-left > span {display: block; font-size: 13px; color: #748F4B;}
#order .top-bar .f-left span .extra {display: none;}
#order .top-bar .f-left > span:hover .extra {display: inline;}
#order .top-bar .f-left span.sep{font-size:14px;color:#aaa}
#order .top-bar .f-right{float:right}
#order .top-bar .f-right span{float:left;font-weight:bold; line-height: 40px;}

#order .footer{border-top:1px solid #d9d9d9;background:#fff url(bg_footer.gif) repeat-x left top}
#order .footer-shaddow{background:url(shadow.jpg) no-repeat center top;display:block;width:100%;height:16px}
#order .top-bar-shaddow{background:url(shadow.jpg) no-repeat center bottom;display:block;width:100%;height:14px}
#order .dark-footer{box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);color:#a2a2a2;font-size:12px;padding-top:10px;min-height:24px;background:#edeee9;border-top:1px solid #ddd}
#order .dark-footer a{color:#CE0219}
#order .dark-footer .left{float:left;width:40%}
#order .dark-footer .right{float:right;width:60%;text-align:right}
#order .dark-footer span{}

#order .middle a{color:#555;float:left;display:block;width:213px;border:1px solid #d9d9d9;border-radius:3px;-moz-border-radius:3px;margin: 0 8px 10px 0;
padding: 3px 9px;}
#order .middle a:hover{color:#000;background:#fff url(bg_top_bar.gif) repeat-x left top;
					   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
					   -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
					   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#order .middle a.last{margin-right:0}
#order .middle a span{float:left;font-size:14px}
#order .middle a:hover{text-decoration:none}
#order .middle a span.desc{margin-left:10px;width:150px;vertical-align:middle;}
#order .middle a span.two-lines{margin-top:10px;}
#order .middle a span.one-line{margin-top:18px;}
	
.channels-container-arrows {
	background: url('channels-arrow-left.png') no-repeat 105px 10px;
}
	
.channels-container-arrows > div {
	background: url('channels-arrow-right.png') no-repeat 700px 10px;
}

#order .channels-form {text-align: center;;}
#order .channels-form .rform {text-align: left;;}
#order .bottom.channels {display: inline-block; margin: 0 auto;}
#order .bottom label {float:left;display:block;width:186px;margin:1px 8px 1px 1px;}

#order .bottom label > div:first-child {
	background:#fff url(bg_radio.gif) repeat-x left top;cursor:pointer;text-align:center;display:block;border:1px solid #d9d9d9;border-radius:3px;-moz-border-radius:3px;}

#order .bottom label .inf {display: block; padding:8px 9px 0}

#order .bottom label .gross {height: 29px; display: block; padding:1px 9px 0; color: #999; border-radius:0 0 3px 3px; text-align: center; padding-top: 5px;}
#order .bottom label .gross strong {font-size: 13px;}
#order .bottom label .gross span {font-size: 10px; text-transform: uppercase}
#order .bottom label .gross .mont span {text-align: left; line-height: 10px;}
#order .bottom label .gross strong.offer {font-size: 11px; line-height: 18px;}
#order .bottom label .gross strong.off {font-size: 11px; line-height: 18px;}
	
#order .bottom label .prc {height: auto; min-height: 29px; display: block; border-top: 1px solid #d9d9d9; padding:1px 0 0; color: #E23D32; background: #FCFCFC; border-radius:0 0 3px 3px;}
#order .bottom label .prc strong {font-size: 23px;}
#order .bottom label .prc span {font-size: 10px; text-transform: uppercase}
#order .bottom label .prc .cur {color: #E23D32;}
#order .bottom label .prc .cur .net {display: inline;}
#order .bottom label .prc .mont {display: inline-block}
#order .bottom label .prc .mont span {display: block; text-align: left; line-height: 10px;}
#order .bottom label .prc strong.offer {font-size: 15px; line-height: 28px;}
#order .bottom label .prc strong.off {font-size: 15px; line-height: 28px;}

#order .bottom label.last {margin-right:0 !important;}
#order .bottom label span{color:#545454}
#order .bottom label span.desc{line-height:30px;font-size:20px;text-shadow: white 1px 1px;font-family: Arial, sans-serif;}
#order .bottom label span.two-lines{margin-top:10px;}
#order .bottom label span.one-line{margin-top:16px;}
#order .bottom label.active > div:first-child {background:#fafafa url(bg_top_bar.gif) repeat-x left top;;border:2px solid #ce0219;margin:0px 7px 0px 0px;
							-moz-box-shadow: 0 0 0px rgba(0,0,0,0) !important;
							-webkit-box-shadow: 0 0 0px rgba(0,0,0,0) !important;
							box-shadow: 0 0 0px rgba(0,0,0,0) !important;
}
#order .bottom label.disabled{cursor:default;background:#f3f3f3;box-shadow: inset 0 0 6px rgba(0,0,0,0.1); display: none;}
#order .bottom label.disabled span{color:#999;text-shadow:none;}
#order .bottom label.disabled span.icon{opacity:0.5}
#order .bottom label.hover{background:#fafafa url(bg_top_bar.gif) repeat-x left top;
						   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
						   -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
						   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#order input.hid{border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
#order .separator{height:30px;}

span.icon{display:block;height:62px;width:84px;background:transparent url(icons_l.png);margin:0 auto}
span.icon-1{background-position:0 0}
span.icon-2{background-position:-84px 0}
span.icon-3{background-position:-168px 0}
span.icon-4{background-position:-252px 0}
span.icon-5{background-position:-413px 0}
span.icon-6{background-position:-336px 0}

.hover span.icon-1{background-position:0 -62px}
.hover span.icon-2{background-position:-84px -62px}
.hover span.icon-3{background-position:-168px -62px}
.hover span.icon-4{background-position:-252px -62px}
.hover span.icon-5{background-position:-413px -64px}
.hover span.icon-6{background-position:-336px -62px}

.active span.icon-1{background-position:0 -62px}
.active span.icon-2{background-position:-84px -62px}
.active span.icon-3{background-position:-168px -62px}
.active span.icon-4{background-position:-252px -62px}
.active span.icon-5{background-position:-413px -64px}
.active span.icon-6{background-position:-336px -62px}

a span.icon2{display:block;height:50px;width:50px;background:transparent url(icons2.png)}
a span.icon2-1{background-position:0 0}
a span.icon2-2{background-position:-50px 0}
a span.icon2-3{background-position:-100px 0}
a span.icon2-4{background-position:-150px 0}
a span.icon2-5{background-position:-200px 0}
a span.icon2-6{background-position:-250px 0}
a span.icon2-7{background-position:-300px 0}
a span.icon2-8{background-position:-350px 0}
a span.icon2-9{background-position:-400px 0}
a span.icon2-10{background-position:-450px 0}
a span.icon2-11{background-position:-500px 0}
a span.icon2-12{background-position:-550px 0}
a span.icon2-13{background-position:-600px 0}

span.icon3{display:block;height:67px;width:140px;background:transparent url(icons_payment.png);margin:0 auto}
a span.icon3-1{background-position:0 -67px}
a span.icon3-4{background-position:-140px -67px}
a span.icon3-2{background-position:-280px -67px}
a span.icon3-3{background-position:0 -67px}
a:hover span.icon3-1{background-position:0 0}
a:hover span.icon3-4{background-position:-140px 0}
a:hover span.icon3-2{background-position:-280px 0}
a:hover span.icon3-3{background-position:0 0}

.button-light{
	background:#e0e0e0 url(bg_light_button.gif) repeat-x 0 -39px;
	font-size:13px;
	color:#404040;
	padding:11px;
	border:1px solid #d0d0d0;
	border-radius:3px;
	-moz-border-radius:3px;
	text-shadow: rgba(255,255,255,0.4) 1px 1px;
	margin-left:13px;
}
.button-box{width:100%;padding:26px 0}
.button-red{
	cursor:pointer;
	width: 180px;
	background:#ce0219 url(bg_red_button.gif) repeat-x 0 -38px;
	display:inline-block;
	vertical-align: middle;
	font-size:17px;
	color:#fff;
	padding:8px 54px;
	border:1px solid #a42531;
	border-radius:3px;
	-moz-border-radius:3px;
	font-family: Arial, sans-serif;
}
.button-light:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-decoration:none;
	background-position:0 0;
}
.button-red:hover{
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	background-position:0 0;
}
#contact-form{display:none}
#order .content{background:#fafafa url(bg_top_bar.gif) repeat-x left top;color:#424343;font-size:16px;padding:10px;display:block;border:1px solid #d9d9d9;border-radius:3px;-moz-border-radius:3px;}

.short{width:60px}
.med{width:90px}
label{cursor:default}
input[type="text"],
input[type="password"],
textarea,
select{width: 160px; border:1px solid #d9d9d9;border-radius:2px;-moz-border-radius:2px;padding:4px}
table, p, input, textarea{font-size:13px;}
.input-error {background: #FFC4C4}
table tr td {vertical-align: top}
table.list tr td {vertical-align: middle}
table tr td.form_title {padding-top: 7px}
table tr td span.sep{line-height:30px;padding:0 7px 0 0}
table tr td .red{width: 180px; display: block;}
table input, textarea{color:#000;width:170px}
select{width: 180px; background: #fff}
table{width:100%}
textarea{width:90%}
input[type="checkbox"]{width:auto;}
label{vertical-align: middle}
.st, .punctor{color:#70a9ff;line-height:12px;padding:1px}
table .info{margin-top:7px;}
table.cform{width:65%;}
table.rform td{vertical-align: middle}
/*form table .red{display: none}*/
p .info{margin-top:0px;margin-left:4px}
.info{display:inline-block;background:url(icons3.png) -11px 0;height:15px;width:15px;}
.info:hover{background-position:-26px 0}
.arrow-icon{margin:6px 5px 0 0;display:block;background:url(icons3.png);height:11px;width:11px;float:left;}
.tick{margin:11px;display:block;background:url(icons4.png) -61px 0;height:35px;width:25px;float:left}
.error .tick{background:url(icons4.png) -36px 0 no-repeat}
.help .tick{display: none;background:url(icons5.png) 0 0 no-repeat}
.divider{margin:15px 0;border-bottom:1px solid #e8e8e8;clear:both}

p.con{line-height:1.5em;margin-top:-5px}
.button-conf-red, .button-green-large {
	background: #E53131 url(bg_conf_button.png) repeat-x 0 -27px;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding:5px 20px;
	border:1px solid #b9170c;
	border-radius:3px;
	-moz-border-radius:3px;
	margin-left:2px;
	cursor:pointer;
}
.button-conf-red:hover, .button-green-large:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-decoration:none;
	background-position:0 0;
}
.button-conf-gray, .button-cancel {
	background:url(bg_conf_button.png) repeat-x 0 -76px;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding:3px 16px;
	border:1px solid #a2a6a8;
	border-bottom:1px solid #878b8d;
	border-radius:3px;
	-moz-border-radius:3px;
	margin-left:5px;
}
.button-conf-gray:hover, .button-cancel:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-decoration:none;
	background-position:0 -54px;
}
.button-green-large.button-cancel {
	background:url(bg_conf_button.png) repeat-x 0 -76px #A6A6A6;
	padding:6px 20px;
}

.msg-box.help{background: #FCFCFC;color:#000;font-size:13px;padding-left: 10px; border:2px solid #D4ECFF;border-radius:3px;-moz-border-radius:3px;}
.msg-box.error{background:#fcf3f0;color:#000;font-size:13px;border:2px solid #e19f9a;border-radius:3px;-moz-border-radius:3px;}
.msg-box{width: 100%; background:#f9fff5;color:#000;font-size:13px;margin:0;padding:0px;display:table;border:2px solid #c6dca4;border-radius:3px;-moz-border-radius:3px;}
.msg-box > div:first-child {display: table-row; width: 100%;}
.msg-box p{width: 100%; padding:1em 0;margin:0;vertical-align: middle;display:table-cell;}
.payment-form a{
	background: white url(bg_payment.png) repeat-x left top;
	float: left;
	text-align: center;
	display: block;
	width: 160px;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 4px white;
	padding:6px;
	margin:2px;
	position:relative;
}
.payment-form a:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.payment-form a span.d{width:170px;position:absolute;bottom:-30px;left:0;font-size:11px;color:#999}
.payment-form-msg{float:left;margin:30px 10px 0 100px}
.payment-form-msg span{font-size:12px;color:404040;font-weight:bold}
.aleft{text-align:left !important}
.ctoken{float:left;font-size:11px;line-height:32px}
.ttoken{float:left;line-height:32px;margin-right:4px}
textarea{height:120px;}



span.tooltip {
	position: relative;
	line-height: 12px !important;
	display: inline-block;
}

span.tooltip-replaced .icon {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
	background: url('../../img/help.png') no-repeat;
	cursor: help;
}

span.tooltip-replaced .tip {
	position: absolute;
	z-index: 10001;
	top: 16px;
	left: 16px;
	padding: 10px;
	background: #F1F1E9;
	border: 3px solid #E3E3E3;
	width: 200px;
	height: auto;
	display: block;
	line-height: 16px;
	text-align: left;
	white-space: normal;
	color: black;
}

.captcha-title, .captcha-label {
	display: none;
}

.paramlist th {
	text-align: left;
	width: 20%;
	padding-left: 10px;
	font-weight: normal;
}

.tpanel_caption a {
	color: #000;
	font-weight: bold;
	font-size: 14px;
}

.tpanel_corner_left {
	display: none;
}

.a-right {
	text-align: right;
}

/** form **/

.form-inline {
}

.form-inline-column.form-columns-3 {
	background: url('../img/2.0/form-column.png') repeat-y right;
	padding-left: 5px;
	padding-top: 10px;
}

.form-inline-column.form-columns-3.form-column-nth-3 {
	background: none;
}

.form-inline-column.form-columns-3.form-column-nth-1 {
	padding-left: 0;
}

.form-inline .form-columns-3 .form_title {
	width: 31%;
}

.form-inline .form-columns-3 .form_input,
.form-inline .form-columns-3 .form_desc {
	width: 67%;
}

.form-inline.form-registration .form_title {
	width: 120px;
	padding-right: 12px;
}

.form-inline.form-registration .form_input {
	width: 500px;
	float: left;
}

.form-inline.form-registration .left .form_input {
	width: 220px;
	float: left;
}

.form-inline .form_title {
	width: 15%;
	line-height: 25px;
	float: left;
	padding: 2px 0;
}

.form-inline .form_title > span {
	line-height: 11px;
	/*vertical-align: middle;*/
	display: inline-block;
}

.form-inline .form_input {
	width: 84%;
	padding: 2px 0;
	float: right;
	border-right: 2px solid transparent;
	margin-bottom: 0;
}

.form-inline .form_text {
	line-height: 25px;
}

.form-inline .form_row {
	clear: both;
}

.form-inline .form_input .form_desc {
	float: none;
	margin-bottom: 6px;
	line-height: 22px;
}

.form-inline .form_desc {
	width: 84%;
	clear: both;
	float: right;
	margin-bottom: 0;
	line-height: 16px;
	font-size: 11px;
}

.half .form-inline .form_title {
	width: 27%;
}

.half .form-inline .form_input,
.half .form-inline .form_desc {
	width: 72%;
}

.form-inline.form-wide .form_title {
	width: 24%;
}

.form-inline.form-wide .form_title {
	width: 24%;
}

.form-inline.form-wide .form_input,
.form-inline.form-wide .form_desc {
	width: 74%;
}

.form-inline input.text-price {
	width: 117px;
}

.form-inline textarea {
	width: 95%;
}

.form-inline.form-preferences {
}

.form-inline.form-preferences .form_title {
	width: 24%;
}

.form-inline.form-preferences .form_input,
.form-inline.form-preferences .form_desc {
	width: 74%;
}

.form-preferences input.text {
	width: 170px;
}

.form-preferences input.text[name=p_default_ns] {
	width: 220px;
}

.form-preferences .form-table {
	border-collapse: collapse;
	width: 100%;
}

.form-preferences .form-table > tbody > tr:first-child > td:first-child {
	border-radius: 6px 0 0 0;
}

.form-preferences .form-table tr:first-child td {
	box-shadow: 0 -1px #e9e9e9;
}

.form-preferences .title {
	width: 24%;
	background: #f2f2f2 url('../img/form/pref-title-back.png') repeat-y right top;
	text-align: right;
	vertical-align: top;
	padding: 4px;
	padding-top: 9px;
	padding-left: 20px;
	padding-right: 10px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #fafafa;
	font-size: 13px;
}

.form-preferences .input {
	vertical-align: middle;
	padding: 4px;
	border-bottom: 1px solid #dadada;
	background: #fafafa;
	margin-left: 1px;
	border-left: 0;
	background: #f2f2f2 url('../img/form/pref-input-back.png') repeat-y left top;
	padding-left: 15px;
	padding-right: 130px;
}

.form-preferences .desc {
	color: #555;
	padding: 6px 0;
}

.form-preferences .title .green {
	padding-top: 10px;
}

.form-preferences tr.section-header .strong  {
	font-weight: bold;
	padding-top: 10px;
	color: #4b4b4b;
	font-size: 16px;
}

.form-preferences tr.section-header .title {

}
.form-preferences tr.section-header .input  {
	border: none;
}

.form-preferences  tr:first-child
.title {
	border-top: none;
}

.form-preferences  tr:first-child
.input {
	border-top: none;
}

table.list {
	width: 100%;
}
table.list tr.odd td {
	background-color: #F8F8F8;
}

table.threadlist td {
	background-image: none;
	background-color: #F7F5E9;
	text-align: left;
	padding-left: 5px;
	border: none;
	padding: 3px 20px 3px 35px;
}

table.threadlist tr.thread-header td {
	background-color: #EDEEE9;
    line-height: 35px;
}

table.threadlist tr.thread-header td > span {
    line-height: 35px;
}

table.threadlist tr.thread-header td a.option {
	color: #FF9238;
	text-decoration: underline;
	padding: 0 10px;
}

table.threadlist tr.thread-closed td {
	background-color: #cc0000; 
	color: #FF9238;
	line-height: 18px; 
	height: 18px;
	padding: 2px;
	padding-left: 35px;
}

table.threadlist tr.thread-closed td span {
	color: #E96002;
    vertical-align: middle;
}

table.threadlist .thread-date {
	color: #FF9238;
	padding: 0 10px;
    vertical-align: middle;
}

table.threadlist .thread-date span {
	color: #E96002;
    vertical-align: middle;
}

.negotiations-entry {
	border: 4px solid #EDEDE9;
}

.negotiations-entry table.threadlist td {
	background-image: none;
	text-align: left;
	background-color: #F7F5E9;
	padding-left: 5px;
	border: none;
	padding: 3px 20px 3px 10px;
}

.negotiations-entry table.threadlist tr.my td {
	background-color: #fff;
}

.negotiations-entry table.threadlist tr.thread-header td {
	background-color: #F9F8F3;
	color: #333;
	line-height: 20px; 
	height: 20px; 
}

.negotiations-entry table.threadlist tr.thread-header td > span {
	line-height: 20px; 
	vertical-align: middle;
}

.negotiations-entry table.threadlist tr.thread-header td a.option {
	color: #FF9238;
	text-decoration: underline;
	padding: 0 10px;
}

.negotiations-entry table.threadlist tr.thread-closed td {
	background-color: #cc0000; 
	color: #FF9238;
	line-height: 20px; 
	height: 20px;
	padding: 2px;
	padding-left: 35px;
}

.negotiations-entry table.threadlist tr.thread-closed td span {
	color: #E96002;
    vertical-align: middle;
}

.negotiations-entry table.threadlist strong {
    vertical-align: middle;
	width: 150px;
	display: inline-block;
}

.negotiations-entry table.threadlist .thread-price {
	font-size: 14px;
	line-height: 20px; 
	width: 150px;
	display: inline-block;
}

.negotiations-entry table.threadlist .thread-status {
	line-height: 20px; 
	font-style: italic;
}

.negotiations-entry table.threadlist .thread-date {
	color: #FF9238;
	padding: 0 10px;
    vertical-align: top;
	float: right;
	line-height: 20px; 
}

.negotiations-entry table.threadlist .thread-date span {
	color: #E96002;
    vertical-align: top;
}

.grey {
	color: #777;
}

#recaptcha_response_field {
	width: 105px;
	height: 23px;
	box-sizing: border-box;
	border: 1px solid #000;
	padding: 3px;
}

.auction-bid-status  {
	font-size: 15px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

#nip-data-waiting {
	text-align: center;
}

#nip-data-waiting .loading {
	padding: 25px 0;
}

div.help {
	background: #fffacd;
	padding: 10px;
	border: 2px solid #F9F8F3;
}
	
.login-left {
	width: 34%;
	float: left;
}
	
.login-right {
	width: 45%;
	float: left;
	text-align: left;
	padding-top: 26px;
}
	
.login-right img {
	padding-top: 10px;
	vertical-align: bottom;
}
	
.login-right div {
	display: inline-block;
	font-size: 22px;
	vertical-align: middle;
	color: #575757;
}
	
.textcaption {
	line-height: 28px;
}
	
.button-red-auto:hover {
	background-position: 0 -50px;
	text-decoration: none;
	color: #eee;
}
	
.button-red-auto {
	background: url('bg_red_auto.png') left top repeat-x #DB1F20;
	border: 1px solid #ae0e02;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	display: inline-block;
	padding: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.button-red-auto.fullsize {
	width: 100%;
}

.searchbar .left {
	float: left;
	width: 35%;
}

.searchbar .right {
	float: right;
	width: 55%;
	text-align: right;
	padding-bottom: 15px;
	font-size: 85%;
}

.searchbar .right {
	
}
	
.forsale-categories {
	font-size: 85%;
}
	
table.list tr td {
	padding: 0 7px;
}
	
table.list tr.even td {
	background: #fff;
}
	
table.list {
	padding: 0;
	border-radius: 5px;
	border-collapse: collapse;
}
	
table.list > thead {
	display: none;
}
	
table.list > tbody > tr:first-child td {
	border-radius: 5px 5px 0 0;
}
	
table.list > tbody > tr:last-child td {
	border-radius: 0 0 5px 5px;
}
	
table.list > tbody > tr:first-child:last-child td {
	border-radius: 5px;
}
	
.list-columns > tbody > tr > td > div {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
	
table.list td {
}
	
table.list.paramlist th {
	display: table-cell;
}
	
table.list.paramlist td,
table.list.paramlist th {
	padding: 4px 2px;
}
	
table.list td.sep {
	background: transparent !important;
	width: 30px;
}

.forsale-list table.list tr.row-promoted.odd td, table.list tr.row-promoted.odd td, td.cell-promoted.odd {
	background-color: #F9FFF3;
}

.forsale-list table.list tr.row-promoted td, table.list tr.row-promoted td, td.cell-promoted {
	background-color: #EEFAE2;
}
	
a.dname {
	color: #404040;
}
	
.format_dname {
	line-height: 40px;
}
	
	
/** paginate **/
	
.paginate {
	padding-top: 10px;
	text-align: center;
	line-height: 26px;
}
.paginate, .paginate a {
	font-size: 110%;
}
.paginate a {
	padding: 0 4px;
}
a.paginate-prev, a.paginate-next {
	font-size: 150%;
}
.paginate-prev {
	width: 30%;
	float: left;
	text-align: left;
}
.paginate-next {
	width: 30%;
	float: right;
	text-align: right;
}
.paginate-info {
	width: 38%;
	float: left;
	color: #555;
	font-size: 110%;
}
	
.dashed {
	height: 10px;
	border-bottom: 1px dashed #D4D4D4;
}
	
#order div.shopfaq .centered h3 {
	text-align: left;
}
	
#order div.faq-left {
	float: left;
	width: 51%;
}
	
#order div.faq-right {
	float: left;
	width: 47%;
}
	
.list-columns {
	width: 100%;
	border-collapse: collapse;
}
.list-columns > tbody > tr > td {
	vertical-align: top;
	padding-left: 10px;
}
	
.list-columns > tbody > tr > td:first-child {
	padding-left: 0;
}
	
.listcmp-container {
	position: relative;
}
	
.list-perspectives {
	position: absolute;
	right: 0;
}
	
.list-perspectives > * {
	vertical-align: middle;
}

.list-perspective-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
	
.list-perspective-button.list-perspective-default {
	background: url('../img/table/perspective-default.png') no-repeat left;
}
.list-perspective-button.list-perspective-default.active {
	background: url('../img/table/perspective-default-active.png') no-repeat left;
}
	
.list-perspective-button.list-perspective-3col.active {
	background: url('../img/table/perspective-3col-active.png') no-repeat left;
}
.list-perspective-button.list-perspective-3col {
	background: url('../img/table/perspective-3col.png') no-repeat left;
}
	
.list-perspective-button.list-perspective-2col.active {
	background: url('../img/table/perspective-2col-active.png') no-repeat left;
}
.list-perspective-button.list-perspective-2col {
	background: url('../img/table/perspective-2col.png') no-repeat left;
}
	
.perspective-simple table.list > tbody > tr > td:first-child {
	border-left: 1px solid #E0E0E0;
}
	
.perspective-simple table.list > tbody > tr > td {
	border-right: 1px solid #E0E0E0;
}

.perspective-simple table.list th:first-child {
	background: #A90003 url('../img/table/head.png');
}

.perspective-simple table.list th:last-child,
.perspective-simple table.list th.last-child {
	background: #A90003 url('../img/table/head.png');
	border-right: 1px solid #A90003;
}
.perspective-simple table.list th {
	border-bottom: 1px solid #A90003;
}
.perspective-simple table.list .format_iterator {
	color: #999;
	width: 21px;
}
	
.list-fixed-header-only {
	display: none !important;
}
	
.list-results {
	display: none;
}
	
	
.profile-info {
	display: none;
}
	
.profile .top-bar .f-left {
	position: relative;
}
	
.profile-logo {
	position: absolute;
	left: -20px;
	top: -10px;
	border-radius: 2px 0 0 2px;
	width: 468px;
}
	
.profile-logo a {
	display: inline-block;
	position: relative;
	padding-right: 0 !important;
}
	
.profile-logo a > span {
	position: absolute;
	right: 0;
	width: 40px;
	height: 60px;
	background: transparent url('profile-logo-shadow.png') repeat-y left top;
	display: inline-block;
}
	
.profile-logo img {
	border-radius: 2px 0 0 2px;
}
	
.profile-buttons {
	position: relative;
	margin-top: 10px;
}
	
.profile-buttons.with-description .profile-legend {
	position: absolute;
	top: -12px;
	left: 20px;
	background: #fff;
	display: inline-block;
	padding: 0 4px;
}
	
.profile-buttons .profile-legend label {
	font-size: 15px;
	font-weight: normal;
	vertical-align: middle;
	padding-right: 10px;
}
	
.profile-buttons.with-description {
	border: 1px solid #D9D9D9;
	border-radius: 6px;
	padding: 8px;
}
	
.profile-description {
	padding: 10px 16px;
}
	
.profile-legend .profile-button:hover,
.profile-legend .profile-button:hover a {
	text-decoration: none;
	background: #F2F6F7;
}
	
.profile-legend .profile-button {
	display: inline-block;
	background: #F8FCFD;
	border: 1px solid #AFD3F5;
	border-radius: 4px;
	color: #AFD3F5;
	padding: 4px;
	vertical-align: middle;
}
	
.profile-search {
	float: right;
	padding-top: 9px;
}
	
.profile-search label {
	vertical-align: middle;
}
	
.profile-search input[type=text] {
	height: 16px;
	vertical-align: middle;
}
	
.filters-top-simple {
	padding-bottom: 15px;
	padding-left: 2px;
}
	
.profile #filters-top.filters-top-simple {
	width: 50%;
	float: left;
	padding-top: 15px;
}
	
.profile #filters-top.filters-top-advanced {
	padding-top: 15px;
}
	
.profile .filters-title {
	display: none;
}
	
.panel-list-noresult {
	background: #FCFCFC;color:#000;font-size:13px;padding-left: 10px; border:2px solid #D9D9D9;border-radius:3px;-moz-border-radius:3px;
	padding: 10px;
}
	
.bold {
	font-weight: bold;
}